version: '3.8'

services:
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  app:
    container_name: app
    build: .
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - postgres
    volumes:
      - .:/app