<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Currículos</title>
</head>
<body>
  <nav>
    <button onclick="location.href='/'">Listagem</button>
    <button onclick="location.href='/cadastrar'">Cadastro</button>
  </nav>

  <h1>Listagem de Currículos</h1>
  <ul>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% curriculos.forEach(curriculo => { %>
          <tr>
            <td><%= curriculo.id_person %></td>
            <td><a href="/consultar/<%= curriculo.id_person %>"><%= curriculo.person_name %></a> </td>
            <td><%= curriculo.email %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </ul>
</body>
</html>
